body {
  background-color: #222222;
  font-size: 16px;
  font-family: input-mono, monospace;
  font-style: normal;
  font-weight: 100;
  color: white;
}

/* Calculator container */
.calculator {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Form styling */
form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input,
select,
button {
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  width: 150px;
}


input[type=number]{
  padding: 0.8 ;
}
}

button {
  background-color: #0184ff;
  color: white;
  cursor: pointer;
  margin: auto
}

button:hover {
  background-color: #0139f1;
}

/* Result styling */
.result {
  margin-top: 20px;
}

.result span {
  font-weight: bold;
  font-size: 1.5rem;
  color: #0184ff;
}

/* Footer styling */
footer {
  color: white;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  bottom: 0;
}


